.container {
    max-width: 1244px;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}
.backButtonContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .backButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #0070f3;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .backButton:hover {
    background-color: #005bb5;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  